<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>I'm Sociable</h2>
        <p class="lead">I do Facebook, Instagram and all that jazz-hands!</p>
        <ul class="socials">
          <li><a href="https://www.facebook.com/johnbiddulph" target="_blank"><fa name="fas fa-facebook"></fa></a></li>
          <li><a href="https://www.linkedin.com/in/john-biddulph-36b99116/" target="_blank"><fa name="fas fa-linkedin"></fa></a></li>
          <li><a href="https://www.flickr.com/people/percy20/" target="_blank"><fa name="fas fa-flickr"></fa></a></li>
          <li><a href="https://www.instagram.com/jbiddulph/?hl=en" target="_blank"><fa name="fas fa-instagram"></fa></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>